:root {
    --bright-orange:31, 77%, 52%;
    --dark-cyan:184, 100%, 22%;
    --very-dark-cyan:179, 100%, 13%;
    
    
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: 0, 0%, 95%;


    --font-family-ibm: "IBM Plex Sans", sans-serif;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  
  /* Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    overflow-x: hidden;
    max-width: 1440px;
    position: relative;
  }
  
  a:not([class]) {
    -webkit-text-decoration-skip: ink;
            text-decoration-skip-ink: auto;
  }
  
  img,
  picture {
    width: 100%;
    display: block;
  }
  
  main {
    width: 920px;
    height: 500px;
    margin: 0 auto;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;

        .card {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            padding: 30px;

            .icon {
                width: 64px;
                height: 40px;
            }

            .title {
                color: #F2F2F2;
                font-family: Big Shoulders Display;
                font-size: 40px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
            }
            .description {
                width: 212px;
                color: #FFF;
                font-family: Lexend Deca;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 25px; 

                opacity: 0.75;
            }

            button {
                width: 146px;
                height: 48px;

                border: none;
                border-radius: 25px;
                background: #F2F2F2;

                color: #E28625;
                font-family: Lexend Deca;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 25px;
            }

        }
        .orange-card {
          border-radius: 8px 8px 0px 0px;
      background: #E28625;
        }
        .lightgreen-card {
          background: #006971;
        }
        .green-card {
          border-radius: 0px 8px 8px 0px;
          background: #004140;
        }



        
    }
  }